@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    font-display: swap; 
        src:
            url('spectral-regular.woff2') format('woff2'),
            url('spectral-regular.woff') format('woff'),
            url('spectral-regular.ttf') format('truetype');
}

body {
    font: 100%/1.5 'Spectral', serif;
    font-variant-ligatures: common-ligatures;
    margin: 0 auto; 
    padding: 2em; 
    max-width: 60rem;
    display: grid;
    grid-gap: 1em;
    grid:
        'banner'
        'aside'
        'main'
        'quote'
        'footer'
}

@media (min-width: 40em) {
    body {
        grid:   
            'banner banner' auto
            'aside main' 1fr
            'quote main' 1fr
            'footer footer' auto
            /0.6fr 1fr;
        grid-gap: 10px;
    }
}

header {
    grid-area: banner;
}

aside {
    grid-area: aside;
}

article {
    grid-area: main;
}

section {
    grid-area: quote;
}

footer {
    grid-area: footer;
    font-size: 0.8rem;
}

p.quote {
    font-style: italic;
}

h1.title {
    color: brown;
    margin-bottom: 0;
    line-height: 1; 
}

h1 + p {
    font-style: italic;
}

h3 {
    margin-bottom: 0;
    line-height: 1.1; 
}
